{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": [
            "8"
          ]
        }
      }
    ]
  ],
  "env": {
    "testing": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
